.contenedor{
    display: flex;
    justify-content: center;
}

table{
    border-collapse:collapse ;
    border: 2px solid rgb(145, 146, 145);
    letter-spacing: 1px;
    font-size: 1.5rem;
    background-color: rgb(199, 196, 196);
}

th{
    text-align: left;
    border: 1px solid grey;
    padding: 10px;
    background-color: rgb(96, 93, 93);
}

td{
    border: 1px solid  grey;
    padding: 10px;
   
}
h2{
    margin: 0 ;
    padding: 20px;
}
tr:hover{
    background-color: rgb(176, 173, 173);
}

